on: [push]

defaults:
    run:
      shell: bash

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: mv rust-toolchain-full.toml rust-toolchain.toml
      - uses: mkroening/rust-toolchain-toml@main
      - run: mv rust-toolchain-empty.toml rust-toolchain.toml
      - uses: mkroening/rust-toolchain-toml@main
